<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-12 col-xl-6 offset-xl-3">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header text-center">
              <h5>Search Sold Products by Postcode</h5>
            </div>
            <div class="card-body text-center">
              <form [formGroup]="productForm" onsubmit="onSubmitProduct(event)">
                <div class="form-group">
                  <input class="form-control" type="text" name="postcode" formControlName="postcode"
                    placeholder="Postcode" />
                </div>
                <div *ngIf="f.postcode.invalid && (f.postcode.dirty || f.postcode.touched)" class="alert alert-danger">
                  <div *ngIf="f.postcode.errors?.required">
                    Postcode is required
                  </div>
                </div>
                <button class="btn btn-primary mt-3 col-sm-3 col-xl-3 ml-1 mr-1" type="submit"
                  [disabled]="!productForm.valid" (click)="onSubmitProduct($event)">
                  Search by Postcode
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12 col-xl-6 offset-xl-3">
      <div class="card">
        <div class="card-header text-center">
          <h5>List of Products with Prices</h5>
        </div>
        <div class="card-body text-center">
          <div class="table-responsive mt-5">
            <table class="table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Product Description</th>
                  <th>Price</th>
                  <th>Sold</th>
                </tr>
              </thead>
              <tbody key={product.productId}>
                <tr *ngFor="let product of allProducts">
                  <td>{{product.user.username}}</td>
                  <td>{{product.productDescription}}</td>
                  <td>
                    {{ product.price | currency: 'GBP' }}
                  </td>
                  <td>{{product.sold === true ? "Yes" : "No"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-success mb-5 col-sm-3 col-xl-3 ml-1 mr-1" (click)="getLocation()">
            Get Location
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showMap" class="mt-5 mb-5">
    <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
      <map-marker *ngFor="let marker of markers" [position]="marker.position">

      </map-marker>
    </google-map>
    <button (click)="zoomIn()">Zoom in</button>
    <button (click)="zoomOut()">Zoom out</button>
  </div>
</div>
